   * {
       padding: 0px;
       margin: 0px;
       font-family: 'Poppins', sans-serif;
       box-sizing: border-box;
   }

   body {
       align-items: center;
       display: flex;
       justify-items: center;
       color: white;
       background-color: black;
   }

   .container {
       margin: 12%;
       width: 90%;
       max-width: 700px;
   }

   .display {
       width: 80%;
       margin-top: 50px;
       margin-bottom: 30px;
       background-color: azure;
       color: black;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 26px 20px;
       border-radius: 5px;
   }

   h1 {
       color: white;
       font-weight: 600;
       font-size: 45px;

   }

   span {
       color: #019f55;
       border-bottom: 4px solid #019f55;
       padding-bottom: 7px;
   }

   img {
       cursor: pointer;
       width: 30px;
   }

   input {
       height: 40px;
       width: 300px;
       border: 0;
       font-size: 20px;
       font-weight: 500;
       outline: 0;
   }

   button {
       width: 280px;
       height: 40px;
       margin-left: 80px;
       margin-top: 20px;
       border-radius: 10px;
       border: 2px green;
       background-color: green;
       color: black;
       outline: 0;
       font-size: 24px;
       cursor: pointer;
       font-weight: 500;
       padding-top: -18px;
   }

   img {
       margin-top: 1px;
       border-radius: 50%;
   }